#info {
    margin: 1em;
}

.content {
    margin: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}


#logoLiris {
    position: fixed;
    display: flex;
    padding: 4px;
    border-radius: 8px;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff60;
    align-items: center;
    z-index: 5;
}