# Hera_utils configuration file: volume related additionnal information.
# File format: Python configparser shlex (unix shell like), refer to e.g.
#  * configparser: https://docs.python.org/3/library/configparser.html
#  * Shlex: https://docs.python.org/3/library/shlex.html#module-shlex

# The bare required minimum 
k8s_config_file='~/.kube/config-pagoda3.yaml'
argo_server='argo-workflows.pagoda.liris.cnrs.fr:443' 
argo_namespace='ud-evolution'
argo_service_account='argo-workflow'

# Extension: define a volume claim that shall be used by the workflow (has to be inside the previously defined namespace)
k8s_dataset_volume_claim_name='converg-dataset-pvc'
